<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">件名</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{message.subject}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">送信者</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{message.sender}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">日付</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{message.date}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">宛先</label>
        <div class="col-sm-10">
            <p class="form-control-static" ng-repeat="recipient in message.recipients">{{recipient}}</p>
        </div>
    </div>
</form>

<div class="col-sm-12">{{message.message}}</div>

<a href="#/" class="btn btn-link">メッセージのリストに戻る</a>